/* Encode Sans Condensed */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300;400;500;600;700&display=swap');
/* Instrument Serif */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap');

h1#nave-home {
	font-size: 7rem;
	margin-bottom: 0;
}
.mid {
	text-align: center;
}
.md-typeset h1 {
	font-family: "Instrument Serif";
	font-size: 5rem;
	font-weight: normal;
	margin-bottom: 1rem;
}
.md-typeset h1 .keys {
	display: flex;
}
.md-typeset h1 kbd {
	font-size: 2.5rem;
}
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6, strong {
	font-family: "Encode Sans Condensed";
}

.md-typeset h2 {
	font-size: 1.6rem;
}
.md-typeset h3 {
	font-size: 1.3rem;
}
.md-typeset h4 {
	font-size: 1rem;
}
.md-typeset h5 {
}
.md-typeset h6 {
}

.md-typeset kbd {
  font-size: .8em;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  vertical-align: text-bottom;
  color: blue;
}

/* Mark stubs */
a.md-nav__link[href$="reference/cli/pen/run/"],
a.md-nav__link[href$="reference/cli/pen/merge/"],
a.md-nav__link[href$="reference/cli/pen/open/"],
a.md-nav__link[href$="reference/cli/pen/close/"],
a.md-nav__link[href$="reference/cli/pen/prune/"]
{
  text-decoration: line-through;
}
